/*#page {
  width: 100%;
}
*/
/*#panel{
	display: none;
}*/

.panel_jquery {
	margin-left: 0rem !important;
	/*width: 15rem !important;*/
	/*-webkit-transition: width 2s !important;
	transition: width 2s !important;*/
	transition: margin-left 1.5s !important;
	z-index: 99999;
	position: absolute;
	/*display: inline-block !important;*/
}

/*.page_jquery{*/
	/*margin-left: 15rem !important;
	transition: margin-left 1.5s !important;*/
/*}*/

@media screen and (max-width: 50em) {
  /* line 1, ../sass/_panel.scss */
  #panel {
    display: inline-block;
	margin-left:-15rem;
	transition: margin-left 1.5s;
	width: 15rem;
	font-size: 0em;
	position: absolute;
	z-index: 99999;
	/*white-space: nowrap;*/
  }
  
	#page{
	/*display: inline-block;*/
	/*margin-left: 0rem ;*/
	/*transition: margin-left 1.5s;	*/
	/*font-size: 0em;*/
	white-space: normal;
  }
  
  body{
	white-space: nowrap;
	overflow-x: hidden;
	/*overflow-y: scroll;*/
  }
  #main{ max-width : 100%; }
  
}

/*Page ABOUT*/
#about{
	font-size: 1rem;
}

#event-detail .col .block-head img {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.texte{
	font-size: 1rem;
}
/*VIDEO*************************/
/*#index_video{
	-moz-border-radius: 20px !important;
}*/
